/*
*		General
*/
.clear_both{
	clear:both;
}

/*
*		Book
*/
body{
	background-color:#070001;

}

.redText{
	background-color:red; 
	color:red;
	margin:2px;
	border:2px solid black;
}

.redText span{
	background-color:#00000000;

}

.revealedText span{
	padding:4px 10px;
}

.book :first-child{
	padding-top:15px;
	border-radius:15px 15px 0px 0px;
}

.revealedText :first-child{
	padding-top:7px;
	border-radius:0px;
}
.revealedText{
	background-color:#1b152c;
	color:white;
	width:calc(100% - 14px);
	padding: 7px;
	text-align:left;
}

.dialog_1{
/*	background-color:#eeffeedd;*/
	background-color:#ddffcc65;

}
.dialog_2{
	background-color:#ddccff65;

}

.book{
	float:left;
	width:75%;
}

.right_runes{
	float:right;
	width:25%;
}

.right_runes img{
	width:100%;

}
